<% include partials/header.ejs %> 

<% allPosts.forEach(function(element){ %>
    <h1> <%= element.title %> </h1>
    <% if (element.title === "Home") { %>
        <p><%= element.content %> </p>
    <% } else{ %> 
        <p> <%= element.content.substring(0, 99) + "..." %> <a href="/posts/<%= element._id %> ">Read More</a></p>
    <% } %>
<% }) %>

<% include partials/footer.ejs %>